.btn-grass {
    color: #fff;
    background-color: #7DB808;
    border-color: #7DB808;
}

.btn-fire {
    color: #fff;
    background-color: #E24242;
    border-color: #E24242;
}

.btn-water {
    color: #fff;
    background-color: #5BC7E5;
    border-color: #5BC7E5;
}

.btn-lightning {
    color: #fff;
    background-color: #FAB536;
    border-color: #FAB536;
}

.btn-fighting {
    color: #fff;
    background-color: #FF501F;
    border-color: #FF501F;
}

.btn-pyschic {
    color: #fff;
    background-color: #A65E9A;
    border-color: #A65E9A;
}

.btn-colorless {
    color: #fff;
    background-color: #E5D6D0;
    border-color: #E5D6D0;
}

.btn-darkness {
    color: #fff;
    background-color: #2C2E2B;
    border-color: #2C2E2B;
}

.btn-metal {
    color: #fff;
    background-color: #C6A114;
    border-color: #C6A114;
}

.btn-fairy {
    color: #fff;
    background-color: #E03A83;
    border-color: #E03A83;
}